:root {
  --blue: #5e7892;
  --dark_blue: #231b3a;
  --grey: #a7b7c6;
  --light_brown: #f3efdf;
  --green: #bdcfaa;
  --dark_green: #8e9e83;
  --red: #b80606;
  --dark_red: #520202;
}

html {
  background-color: var(--light_brown);
}

.main_container {
  display: flex;
  justify-content: space-between;
}

.menu_container {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add_book {
  padding: 0;
  min-width: 10px;
  width: 150px;
  height: 36px;
  border-radius: 10px;
  background-color: var(--grey);
  color: var(--dark_blue);
  border: 3px solid var(--dark_blue);
  line-height: 30px;
  font-size: 19px;
  font-family: "Pragati Narrow", sans-serif;
}

.table_container {
  width: 85%;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: var(--dark_blue);
}

th {
  height: 40px;
  font-size: 24px;
  text-align: left;
  border-bottom: 3px solid var(--dark_green);
  font-family: "Turret Road", cursive;
}

td {
  height: 30px;
  font-size: 19px;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid var(--green);
  font-family: "Pragati Narrow", sans-serif;
}

.centered_column,
.centered_first_row {
  text-align: center;
}

th,
td {
  padding: 15px;
}

.remove_button {
  font-size: 19px;
  font-family: "Pragati Narrow", sans-serif;
  display: inline-block;
  border: 3px var(--dark_red) solid;
  background-color: var(--red);
  border-radius: 10px;
  line-height: 30px;
  padding: 0px;
  color: var(--light_brown);
  /* width and height needs to be with added borders! */
  width: 106px;
  height: 36px;
}

.read_status_table_checkbox {
  visibility: hidden;
}

input[type="checkbox"] + label {
  color: var(--light_brown);
  background-color: var(--blue);
  border: 3px var(--dark_blue) solid;
  border-radius: 10px;
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  user-select: none;
}

input[type="checkbox"]:checked + label {
  color: var(--dark_blue);
  background-color: var(--green);
  border: 3px var(--dark_green) solid;
}
