:root {
  --blue: #5e7892;
  --dark_blue: #231b3a;
  --grey: #a7b7c6;
  --light_brown: #f3efdf;
  --green: #bdcfaa;
  --dark_green: #8e9e83;
}

html {
  background-color: var(--light_brown);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table_container {
  width: 80%;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: var(--dark_blue);
}

th {
  height: 40px;
  font-size: 24px;
  text-align: left;
  border-bottom: 3px solid var(--dark_green);
}

td {
  height: 30px;
  font-size: 18px;
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid var(--green);
}

.centered_column,
.centered_first_row {
  text-align: center;
}

th,
td {
  padding: 15px;
}

.remove_button {
  background-color: red;
  vertical-align: middle;
}

.read_status_table_checkbox {
  visibility: hidden;
}

input[type="checkbox"] + label {
  color: red;
  width: 10px;
  height: 10px;
  user-select: none;
}

input[type="checkbox"]:checked + label {
  color: blue;
}
